NEXT_PUBLIC_NODE_ENV=production
NEXT_PUBLIC_CHAIN_NAME=lumera
NEXT_PUBLIC_DENOM=ulume
NEXT_PUBLIC_CHAIN_ID=lumera-testnet-2
NEXT_PUBLIC_REST_AI_URL=https://lcd.testnet.lumera.io
NEXT_PUBLIC_RPC_ENDPOINT=https://rpc.testnet.lumera.io
NEXT_PUBLIC_WALLET_CONNECT_PROJECTID=fd049c1154d0886fda615b1c2e08ee28
NEXT_PUBLIC_WALLET_CONNECT_RELAY_URL=wss://relay.walletconnect.org
NEXT_PUBLIC_WALLET_CONNECT_NAME=Lumera Hub
NEXT_PUBLIC_WALLET_CONNECT_DESCRIPTION=Lumera Hub
NEXT_PUBLIC_WALLET_CONNECT_URL=https://hub.testnet.lumera.io
NEXT_PUBLIC_WALLET_CONNECT_ICON=https://portal.testnet.lumera.io/assets/logo-5cb73fc7.png
NEXT_PUBLIC_SNAPI_URL=http://localhost:3100
NEXT_PUBLIC_SDK_PRESET=
NEXT_PUBLIC_SNSCOPE_URL=
NEXT_PUBLIC_UPLOAD_MAX_FILES=10
NEXT_PUBLIC_MAX_REQUESTS=14
NEXT_PUBLIC_GOOGLE_ANALYSICS_KEY=
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_KEY=
NEXT_PUBLIC_MAX_TRACKING_REQUESTS=20
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_ADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRY=1d
