@import "tailwindcss";

@source "../../../../packages/ui/src/**/*.tsx";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-lumera-gray: #F5F5FA;
  --color-lumera-green: #47C78A;
  --color-lumera-teal: #078A8A;
  --color-lumera-navy: #001432;
  --color-lumera-sub-label: #6c727f;
  --color-lumera-red-light: #e77975;
  --color-lumera-label: #9da3ae;
  --color-lumera-green-light: #68d1bf;
  --color-lumera-blue-light: #838df1;
  --color-lumera-warning: #ffc107;
  --breakpoint-2lg: 71.875rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", sans-serif;
}
