.is_H3 {
  font-size: 18px !important;
  font-weight: bold !important;
}
.is_Card {
  background: #1a212e !important;
  border-color: #2a323f !important;
}
.w-46p {
  width: 46%;
}
.btn-full .is_Button  {
  width: 100% !important;
}
.btn-secondary .is_Button,
.btn-secondary .is_Button > .is_Button {
  background-color: #394150 !important;
}
.btn-secondary .is_Button:hover,
.btn-secondary .is_Button:hover .is_Button {
  background-color: #001432 !important;
}
.text-link {
  color: #078A8A
}
.text-link:hover {
  color: #47C78A
}
.btn-primary .is_Button,
.btn-primary .is_Button .is_Button {
  background-color: #078A8A !important;
}
.btn-primary .is_Button:hover,
.btn-primary .is_Button:hover .is_Button {
  background-color: #47C78A !important;
}
.btn-primary .is_Button:disabled,
.btn-secondary .is_Button:disabled {
  opacity: 0.8;
}
.sub-card {
  background-color: #151c29;
}
.recent-activity-icon {
  min-width: 36px;
  min-height: 36px;
  max-height: 36px;
  background-color: #29313e;
}
.recent-activity-icon.voted-icon path,
.recent-activity-icon.voted-icon rect {
  stroke: #5b65a2;
}
.recent-activity-icon.stacked-icon path,
.recent-activity-icon.stacked-icon rect {
  stroke: #68d1bf;
}
.recent-activity-icon.claimed-icon line {
  stroke: #f2c14b;
}
.recent-activity-icon.uploaded-icon ellipse,
.recent-activity-icon.uploaded-icon path {
  stroke: #62bbf3;
}
.staking-icon.wallet {
  background-color: #29313e;
}
.staking-icon.wallet path {
  stroke: #838df1;
}
.tabs {
  gap: 24px;
  border-bottom: 1px solid #394150;
}
.tab-button {
  position: relative;
  padding-bottom: 12px;
  color: #9da3ae;
  cursor: pointer;
  overflow: hidden;
}
.tab-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #078A8A;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
}
.tab-item.active .tab-button,
.tab-item .tab-button:hover {
  color: #078A8A;
}
.tab-item.active .tab-button::after,
.tab-item .tab-button:hover::after {
  transform: translateY(0);
}
.rewards-calculator-icon rect,
.rewards-calculator-icon path,
.rewards-calculator-icon line {
  stroke: #838df1;
}
.input {
  width: 100%;
  color: #9da3ae;
  border: 1px solid #394150 !important;
  background-color: 121826;
}
.input::placeholder {
  color: #9da3ae;
}
.input::-webkit-input-placeholder {
  color: #9da3ae;
}
.input::-moz-placeholder {
  color: #9da3ae;
}
.input:-ms-input-placeholder {
  color: #9da3ae;
}
.input::-ms-input-placeholder {
  color: #9da3ae;
}
.input.has-symbol {
  padding-right: 70px;
}
.input-wrapper {
  position: relative;
}
.input-symbol {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #9da3ae;
}
.is_Card.estimated-rewards-card {
  border: 0 !important;
  background-color: #151c29 !important;
  box-shadow: none !important;
}
.input-symbol path,
.input-symbol circle {
  stroke: #9da3ae
}
.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
.table tbody tr {
  background-color: #161e2a;
  border-radius: 8px;
  overflow: hidden;
}
.table tbody tr.active,
.table.hover tbody tr {
  background-color: #1f2633;
}
.table td, .table th {
  padding: 10px;
  border: none;
}
.table td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.custom-progress .is_Progress {
  background-color: #394150 !important;
}
.custom-progress .is_ProgressIndicator {
  background-color: #078A8A !important;
}
.governance-proposals-icon path {
  stroke: #838df1;
}
.governance-passed-icon path {
  stroke: #77da89;
}
.governance-voting-period-icon path {
  stroke: #ecbc4a;
}
.governance-deposit-icon path {
  stroke: #62bbf3;
}
.bg-lumera-sub-card {
  background-color: #171e2c;
}
.status-bar-wrapper {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: #394150;
  display: flex;
  overflow: hidden;
}
.status-bar-yes,
.status-bar-no,
.status-bar-abstain,
.status-bar-no-with-veto {
  height: 8px;
}
.status-bar-yes {
  background-color: #55b5a6;
}
.status-bar-no {
  background-color: #dd524c;
}
.status-bar-abstain {
  background-color: #39694a;
}
.status-bar-no-with-veto {
  background-color: #ecbc4a;
}
.btn-purple .is_Button {
  color: #d2b6f9;
  background-color: #373057 !important;
  border: 1px solid #553d84;
}
.btn-purple .is_Button path {
  stroke: #d2b6f9;
}
.btn-purple:not(.not-button) .is_Button:hover {
  color: #373057;
  background-color: #d2b6f9 !important;
}
.btn-purple:not(.not-button) .is_Button:hover path {
  stroke: #373057;
}
.btn-yellow .is_Button {
  color: #f8e064;
  background-color: #454234 !important;
  border: 1px solid #736437;
}
.btn-yellow .is_Button path,
.btn-yellow .is_Button circle {
  stroke: #f8e064;
}
.btn-yellow:not(.not-button) .is_Button:hover {
  background-color: #736437 !important;
}
.btn-emerald .is_Button {
  color: #86e7d4;
  background-color: #294248 !important;
  border: 1px solid #366464;
}
.btn-emerald .is_Button line,
.btn-emerald .is_Button circle {
  stroke: #86e7d4;
}
.btn-emerald:not(.not-button) .is_Button:hover {
  background-color: #366464 !important;
}
.btn-green .is_Button {
  color: #a0ecb1;
  background-color: #2b453c !important;
  border: 1px solid #39694a;
}
.btn-green .is_Button path,
.btn-green .is_Button circle {
  stroke: #a0ecb1;
}
.btn-green:not(.not-button) .is_Button:hover {
  background-color: #39694a !important;
}
.btn-blue .is_Button,
.btn-blue .is_Button .is_Button {
  color: #fff;
  background-color: #4d4adc !important;
}
.btn-blue:not(.not-button) .is_Button:hover,
.btn-blue:not(.not-button) .is_Button:hover .is_Button {
  background-color: #001432 !important;
}
.btn-red .is_Button {
  color: #fff;
  background-color: #ef4444 !important;
  border: 1px solid #fe6a6a;
}
.btn-red .is_Button path,
.btn-red .is_Button circle {
  stroke: #fff;
}
.btn-red:not(.not-button) .is_Button:hover {
  background-color: #fe6a6a !important;
}
.dropzone-wrapper {
  min-height: 140px;
  background-color: #1a212e;
  border: 2px dashed #4d5562;
  border-radius: 9px;
}
.dropzone-wrapper .upload-icon svg {
  width: 52px;
  height: 52px;
}
.dropzone-wrapper .upload-icon path {
  stroke: #9da3ae;
}
.tabs-secondary {
  display: inline-flex;
  gap: 8px;
  border: 1px solid #394150;
  border-radius: 9px;
  padding: 6px;
}
.tabs-secondary .tab-button {
  padding: 6px 16px 5px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #fff;
  border-radius: 9px;
}
.tabs-secondary .tab-button::after {
  display: none;
}
.tabs-secondary .tab-item.active .tab-button,
.tabs-secondary .tab-item .tab-button:hover {
  color: #fff;
  background-color: #078A8A;
}

.z-1 {
  z-index: 1;
}
#interchain-ui-overlays-manager > div {
  z-index: 50 !important;
}
.btn-address {
  padding: 6px 12px;
  color: #9da3ae;
  background-color: #212936;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}
.btn-logout {
  padding: 6px 12px;
  color: #e5e7eb;
  background-color: #ef4444;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-logout:hover {
  color: #fff;
  background-color: #078A8A;
}
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #e5e7eb;
  background-color: transparent;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-close:hover {
  background-color: #078A8A;
}
.break-words {
  word-wrap: break-word;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.vote-main-content,
.withdraw-main-content {
  max-height: 92vh;
  overflow-y: auto;
  padding: 0 5px;
}
.withdraw-main-content {
  min-width: 90vw;
}
.vote-main-content::-webkit-scrollbar,
.withdraw-main-content::-webkit-scrollbar {
  width: 12px;
}
.vote-main-content::-webkit-scrollbar-track,
.withdraw-main-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.vote-main-content::-webkit-scrollbar-thumb,
.withdraw-main-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
.vote-main-content::-webkit-scrollbar-thumb:hover,
.withdraw-main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.btn-wallet-close {
  position: absolute;
  top: -12px;
  right: -24px;
}
.loading-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.paginate-wrapper ul.react-paginate {
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
.paginate-wrapper ul.react-paginate li a {
  padding: 0.1rem 0.6rem;
  transition: all 0.3s ease-in-out;
}
.paginate-wrapper ul.react-paginate li.selected a,
.paginate-wrapper ul.react-paginate li a:hover {
    background-color: #078A8A
}
.current-staking-apr {
  width: calc(33.3% - 24px);
}
.btn-jailed .is_Button {
  min-width: 52px !important;
  background-color: #f87272 !important;
  color: #fff;
  cursor: default !important;
  border: 0 !important;
}
.btn-jailed:not(.not-button) .is_Button:hover {
  background-color: #f87272;
  color: #fff;
}
.inactive {
  cursor: default;
}
.btn-primary.full .is_Button,
.btn-secondary.full .is_Button {
  width: 100%;
}
.is_Tooltip {
  background-color: #1a212e!important;
  border: 1px solid #2a323f!important;
  border-radius: 9px !important;
}
.slideBackForth {
  animation: slideBackForth 1s infinite ease-in-out;
}
.get-started .keplr-wallet::after,
.get-started .leap-wallet::after,
.get-started .cosmostation-wallet::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 150px;
  background-size: auto 100%;
}
.get-started .keplr-wallet::after {
  background-image: url(../../public/img/keplr.jpg);
}
.get-started .leap-wallet::after {
  background-image: url(../../public/img/leap.jpg);
}
.get-started .cosmostation-wallet::after {
  background-image: url(../../public/img/cosmostation.jpg);
}

@keyframes slideBackForth {
  050% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1290px) {
  .governance-card-header {
    flex-direction: column;
  }
  .governance-card-header > div:nth-child(1) {
    order: 2;
  }
  .governance-card-header > div:nth-child(2) {
    order: 1;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .governance-content .status-bar-label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .withdraw-main-content {
    min-width: 450px;
  }
}
@media screen and (max-width: 1300px) {
  .home-content .balance-rewards-overview {
    grid-template-columns: repeat(1, 1fr);
  }
  .governance-content .governance-overview {
    grid-template-columns: repeat(2, 1fr);
  }
  .governance-control {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
  .input-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .staking-table thead {
    display: none;
  }
  .staking-table tbody tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .staking-table tbody td::before {
    content: attr(data-label);
  }
  .governance-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .btn-hambuger {
    border-right: 0;
  }
}
@media screen and (max-width: 900px) {
  .governance-content .status-bar-label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
  }
  .governance-card-header {
    flex-direction: column;
  }
  .governance-card-header > div:nth-child(1) {
    order: 2;
  }
  .governance-card-header > div:nth-child(2) {
    order: 1;
  }
}
@media screen and (max-width: 800px) {
  .governance-control .tabs-secondary {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .home-content .balance-rewards-overview,
  .home-content .overview-wrapper,
  .rewards-calculator-wrapper,
  .governance-content .governance-overview {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-content .governance-proposals-activity {
    flex-direction: column;
  }
  .home-content .active-governance-proposals,
  .home-content .recent-activity,
  .cascade-overview .is_Card {
    width: 100%;
  }
  .current-staking-apr {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .home-content .chart-wrapper {
    flex-direction: column;
  }
  .home-content .chart-wrapper > div {
    width: 100% !important;
  }
  .home-content .chart-wrapper {
    flex-direction: column;
  }
  .staking-table .action-col {
    flex-direction: column;
    align-items: flex-start;
  }
  .governance-card-header {
    flex-direction: column;
  }
  .validators-control {
    flex-direction: column;
    gap: 12px;
  }
  .btn-logout {
    padding: 4px 8px;
  }
  .btn-logout svg {
    width: 18px;
    height: 18px;
  }
  .proposals-title {
    line-height: 1.2 !important;
  }
  .governance-content .status-bar-label,
  .governance-content-details .status-bar-label-detail {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  .get-started .keplr-wallet::after,
  .get-started .leap-wallet::after,
  .get-started .cosmostation-wallet::after,
  .wallet-mark {
    opacity: 0.1;
  }
  .wallet-mark {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .staking-table .custom-progress .is_Progress {
    min-width: 150px;
  }
  .connect-wallet-label {
    display: none;
  }
  .staking-content .estimated-rewards-results {
    grid-template-columns: 1fr;
  }
}
